/*
 * Copyright © 2012 - 2013 Atlassian Corporation Pty Ltd.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *    http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

/**
 * CONFDEV-7241 - Prevent bogus scrollbars appearing.
 */
.CodeMirror pre {
    overflow: hidden;
    padding-bottom: 1px;
    margin-bottom: -1px;
}

.CodeMirror-gutter-text pre {
    text-align: right;
}

#source-editor-toolbar .toolbar-item > label {
    margin-left: 10px;
    margin-right: 10px;
}

#source-editor-toolbar .toolbar-item > label.check {
    margin-left: 5px;
    margin-right: 15px;
}

#source-editor {
    overflow: hidden;
}

#source-editor-throbber {
    position: absolute;
    padding-top: 150px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: visible;
}

#rte-source-editor .trigger-text {
    vertical-align: top;
    line-height: 24px;
}

#source-editor form.aui,
#source-editor-toolbar {
    margin: 0;
    padding: 0;
}

#source-editor-toolbar {
    padding-top: 2px;
    margin-bottom: 10px;
}

#source-editor-toolbar .aui-buttons,
#source-editor-toolbar .aui-buttons .toolbar-item {
    float: none;
}

#source-editor-toolbar * {
    font-size: 14px;
}

#source-editor-toolbar .aui-buttons {
    margin-top: 0;
    padding: 0;
}

#source-editor-toolbar .aui-buttons a.toolbar-trigger,
#source-editor-toolbar .aui-buttons a.toolbar-trigger:focus,
#source-editor-toolbar .aui-buttons a.toolbar-trigger:active,
#source-editor-toolbar .aui-buttons a.toolbar-trigger:hover {
    text-decoration: none;
    color: #333;
}

#source-editor-toolbar-row-searchreplace > :first-child > :first-child > label,
#source-editor-toolbar-row-searchreplace:first-child {
    margin-left: 0;
}

#source-editor-toolbar .aui-buttons .toolbar-item > input {
    width: auto;
}

.source-editor-footer-left-toolbar {
    float: left;
    margin-left: 10px;
}

.source-editor-footer-left-toolbar > * {
    padding: 0 5px;
}